
# *.json
# *.props
# *.targets
*.cache
*.dll
*.pdb
*.FileListAbsolute.txt
*.dacpac
*.dbmdl
**/obj/*
**/bin/*
*.Model.xml
Finance_Lakehouse/obj/Debug/Model.xml
Manufacturing_Lakehouse/obj/Debug/Model.xml
Manufacturing_Warehouse/obj/Debug/Model.xml
Marketing_Warehouse/obj/Debug/Model.xml
Retail_Warehouse/obj/Debug/Model.xml
SupplyChain_Warehouse/obj/Debug/Model.xml
Wholesale_Warehouse/obj/Debug/Model.xml
Quality_Warehouse/obj/Debug/Model.xml

.fake